<head>
  {% load static %}
  <script src="{% static 'po_list/js/style.js' %}"></script>
  <script src="{% static 'po_list/js/jquery.js' %}"></script>
  <script src="{% static 'po_list/js/bootstrap.js' %}"></script>
  <link rel="stylesheet" href="{% static 'po_list/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'po_list/css/style.css' %}">
</head>



<div class="container" style="padding-top: 1%; padding-bottom: 1%">
  <h1 style="text-align: center" id="tableplaceholder">GMCH INVENTORY SYSTEM</h1>
</div>

<div class="container table-wrapper-scroll-y my-custom-scrollbar" style="padding: 10px; border-style: solid; border-width: 1px; border-color: gray">

  <!-- <div style="background-color: gray; width: 48%; height: 100%; margin-left: 26%">
    asdasdasd
  </div> -->
  <div class="" style="margin-left: 26%; width: 48%; background-color: white; height: 100%; align-items: center; justify-content: center; text-align: center">
    <h3 style="padding-top: 10%">LOG IN</h3>
    <h4>{{ error }}</h4>
    <h4>{{ waaaw }}</h4>
    <form action="{% url 'loginuser' %}" method="post" style="margin-top: 10%">
      {% csrf_token %}
      <div class="form-group">
        <label for="exampleInputEmail1">Username</label>
        <input class="form-control" name="username" aria-describedby="emailHelp" placeholder="Enter username">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>


</div>
