<head>
  {% load static %}
  <script src="{% static 'po_list/js/style.js' %}"></script>
  <script src="{% static 'po_list/js/jquery.js' %}"></script>
  <script src="{% static 'po_list/js/bootstrap.js' %}"></script>
  <link rel="stylesheet" href="{% static 'po_list/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'po_list/css/style.css' %}">
</head>


<div class="mainbg" style="height: 100%;">
  <div class="container" style="padding-top: 1%; padding-bottom: 1%; background: rgba(255, 255, 255, 0.70); ">
    <h1 style="text-align: center" id="tableplaceholder">GMCH INVENTORY SYSTEM</h1>
  </div>

  <div class="container table-wrapper-scroll-y my-custom-scrollbar" style="padding: 10px; margin-top: 30px;">

    <div class="" style="margin-top: 8%; margin-left: 26%; width: 48%; height: 80%; text-align: center;  border-style: solid; border-width: 1px; border-color: gray; background: rgba(255, 255, 255, 0.80);">
      <h3 style="padding-top: 2%">LOG IN</h3>
      <form action="{% url 'loginuser' %}" method="post" style="margin-top: 10%" autocomplete="off">
        {% csrf_token %}
        <div class="form-group col-md-12" style="padding: 5px; width: 90%; display: inline-block">
          <label for="exampleInputEmail1"><b>Username</b></label>
          <input class="form-control" name="username" aria-describedby="emailHelp" placeholder="Enter username">
        </div>
        <div class="form-group col-md-12" style="padding: 5px; white; width: 90%; display: inline-block">
          <label for="exampleInputPassword1"><b>Password</b></label>
          <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <h4 style="color: red"><b>{{ error }}</b></h4>
    </div>


  </div>

</div>
