<head>
  {% load static %}
  <script src="{% static 'po_list/js/style.js' %}"></script>
  <script src="{% static 'po_list/js/jquery.js' %}"></script>
  <script src="{% static 'po_list/js/bootstrap.js' %}"></script>
  <link rel="stylesheet" href="{% static 'po_list/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'po_list/css/style.css' %}">
</head>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="../.." class="btn"><b>&nbsp</b></a>
  <div class="collapse navbar-collapse" style="margin-left: 50px">

    <ul class="navbar-nav mr-auto"></ul>

    {% if user.is_authenticated %}
        <b>Logged in as <u style="color: red">{{ user.username }}</u>|
      {% if user.is_superuser %}
         <a href="/admin">SUPERADMIN</a> | <a href="{% url 'logoutuser' %}">LOGOUT</a>
      {% else %}
         <a href="{% url 'logoutuser' %}">LOGOUT</a>
      {% endif %}
        </b>
    {% else %}
      <b>LOG IN LOGOUT</b>
    {% endif %}
  </div>
</nav>

<div class="container" style="padding-top: 1%; padding-bottom: 1%">
  <h1 style="text-align: center" id="tableplaceholder">GMCH INVENTORY SYSTEM</h1>
</div>

<div class="container table-wrapper-scroll-y my-custom-scrollbar" style="padding: 10px; border-style: solid; border-width: 1px; border-color: gray">

<a href="../item_list">
  <div class="" style="width: 48%; background-color: gray; float:left; height: 100%; display: flex; align-items: center; justify-content: center">
    <h3>Items</h3>
  </div>
</a>
<a href="../po_list">
  <div class="" style="width: 48%; background-color: cyan; float:right; height: 100%; display: flex; align-items: center; justify-content: center">
    <h3>Purchase Orders</h3>
  </div>
</a>


</div>
