.my-custom-scrollbar {
position: relative;
height: 75%;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}

.mainbg{
  background-image: url('/media/home/images/LOGO_WATERMARK.png');
  background-size: 150px;
  background-attachment: fixed;
}

#addtable{
  text-align: center;
  /* vertical-align: middle; */
}

#showtable{
  text-align: center;
  vertical-align: middle;
}
