<head>
  {% load static %}
  <script src="{% static 'po_list/js/style.js' %}"></script>
  <script src="{% static 'po_list/js/jquery-1.11.0.min.js' %}"></script>
  <script src="{% static 'po_list/js/bootstrap.js' %}"></script>
  <link rel="stylesheet" href="{% static 'po_list/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'po_list/css/style.css' %}">
</head>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="{% url 'startup' %}" class="btn"><b>HOME</b></a>
  <h4>|</h4>
  <a href=".." class="btn" style="color: red"><b>BACK</b></a>
  <div class="collapse navbar-collapse" style="margin-left: 50px">

    <ul class="navbar-nav mr-auto"></ul>

    {% if user.is_authenticated %}
      {% if user.is_superuser %}
        <b>Logged in as {{ user.username }} | <a href="/admin">SUPERADMIN</a> | <a href="{% url 'logoutuser' %}">LOGOUT</a></b>
      {% else %}
        <b>Logged in as {{ user.username }} | <a href="{% url 'logoutuser' %}">LOGOUT</a></b>
      {% endif %}
    {% else %}
      <b>LOG IN LOGOUT</b>
    {% endif %}
  </div>
</nav>

<div class="container" style="padding-top: 1%; padding-bottom: 1%">
  <h1 style="text-align: center" id="tableplaceholder"><u>PURCHASE ORDERS</u></h1>
</div>

<div class="container table-wrapper-scroll-y my-custom-scrollbar" style="padding: 10px; border-style: solid; border-width: 1px; border-color: gray; display: flex">

  <div style="width: 32%; height: 100%; margin-right: 2%;">
    {% if usr.is_admin == 1 %}
    <a href="./add_po">
      <div style="background-color: #ff5a59; height: 50%; width: 100%; display: flex; justify-content: center; align-items: center">
        <h3 style="color: black">ADD PO</h3>
      </div>
    </a>
    <a href="./Incomplete Orders-All Departments-All Funding">
      <div style="background-color: #ffb1b0; height: 50%; width: 100%; display: flex; justify-content: center; align-items: center">
        <h3 style="color: black">INCOMPLETE PO</h3>
      </div>
    </a>
    {% else %}
    <div style="background-color: #ff5a59; height: 50%; width: 100%; display: flex; text-align: center; justify-content: center; align-items: center">
      <h3 style="color: black">ADD PO <br>(Not authorized)</h3>
    </div>
    <a href="./Unprocessed Orders-All Departments-All Funding">
      <div style="background-color: #ffb1b0; height: 50%; width: 100%; display: flex; justify-content: center; align-items: center">
        <h3 style="color: black">UNPROCESSED PO</h3>
      </div>
    </a>
    {% endif %}
  </div>
  <div style="background-color: gray; margin-right: 2%; width: 32%; height: 100%">
    <div style="height: 50%; width: 100%">
      <a href="./All Purchase Orders-All Departments-All Funding">
        <div style="background-color: #b8c4f4; height: 100%; width: 100%; display: flex; align-items: center; justify-content: center">
          <h3 style="color: black">All Purchase Orders</h3>
        </div>
      </a>
    </div>
    <div style="height: 50%; width: 100%;">
      <div style="background-color: #8ca0ed; height: 20%; display: flex; justify-content: center; align-items: center;">
        <h3>Department Supplies</h3>
      </div>
      <div style="height: 80%; background-color: #d9dff9; overflow-y: scroll;">
        &nbsp
        <table class="table" style="text-align: center">
          {% for dep in department %}
          <tr>
            <th scope="col" style="border-top: 1px solid #1e3fc3; border-bottom: 1px solid #1e3fc3">
              <a href="./All Purchase Orders-{{ dep.name }}-All Funding">
                <div style="color: black">
                  {{ dep.name }}
                </div>
              </a>
            </th>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>

  <div style="width: 32%; height: 100%">
    <a href="./All Purchase Orders-All Departments-General Fund">
      <div style="color: black; background-color: #b2fd84; height: 50%; width: 100%; display: flex; text-align: center; justify-content: center; align-items: center">
        <h3>General Fund PO</h3>
      </div>
    </a>
    <a href="./All Purchase Orders-All Departments-Trust Fund">
      <div style="color: black; background-color: #deff77; height: 50%; width: 100%; display: flex; text-align: center; justify-content: center; align-items: center">
        <h3>Trust Fund PO</h3>
      </div>
    </a>
  </div>
</div>
