<head>
  {% load static %}
  <script src="{% static 'po_list/js/style.js' %}"></script>
  <script src="{% static 'po_list/js/jquery.js' %}"></script>
  <script src="{% static 'po_list/js/bootstrap.js' %}"></script>
  <link rel="stylesheet" href="{% static 'po_list/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'po_list/css/style.css' %}">
</head>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href=".." class="btn"><b>GMCH INVENTORY</b></a>

  <div class="collapse navbar-collapse" style="margin-left: 50px">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <div class="dropdown">
          <a class="btn " type="button" href='../startup'>
            BACK
          </a>
        </div>
      </li>
    </ul>
    {% if user.is_authenticated %}
      {% if user.is_superuser %}
        <b>Logged in as {{ user.username }} | <a href="/admin">SUPERADMIN</a> | <a href="{% url 'logoutuser' %}">LOGOUT</a></b>
      {% else %}
        <b>Logged in as {{ user.username }} | <a href="{% url 'logoutuser' %}">LOGOUT</a></b>
      {% endif %}
    {% else %}
      <b>LOG IN LOGOUT</b>
    {% endif %}
  </div>
</nav>

<div class="container" style="padding-top: 1%; padding-bottom: 1%">
  <h1 style="text-align: center" id="tableplaceholder"><u>PURCHASE ORDERS</u></h1>
</div>

<div class="container table-wrapper-scroll-y my-custom-scrollbar" style="padding: 10px; border-style: solid; border-width: 1px; border-color: gray">

  <a href="./All Purchase Orders">
    <div class="" style="margin-right: 2%; width: 32%; background-color: gray; float:left; height: 100%; display: flex; align-items: center; justify-content: center">
      <h3>All Purchase Orders</h3>
    </div>
  </a>

  <div class="" style="margin-right: 2%; width: 32%; background-color: gray; float:left; height: 100%; justify-content: center; text-align: center;">
    <div class="">
      <h3 style="margin-top: 5%; margin-bottom: 5%">Department Supplies</h3>
    </div>
    <div style="border: solid; border-width: 1px; background-color: yellow; height: 80%; width: 90%; margin-left: 5%">
      <table class="table" style="text-align: center">
        {% for dep in department %}
        <tr>
          <th scope="col" style="border-bottom: solid; border-width: 1px">
            <a href="./{{ dep.name }}">
              <div>
                {{ dep.name }}
              </div>
            </a>
          </th>
        </tr>
        {% endfor %}
      </table>
    </div>

  </div>

{% if usr.is_admin == 1 %}
<a href="./add_po">
  <div class="" style="width: 32%; background-color: gray; float:left; height: 100%; display: flex; align-items: center; justify-content: center">
    <h3>Add PO</h3>
  </div>
</a>
{% else %}
  <div class="" style="width: 32%; background-color: gray; float:left; height: 100%; align-items: center; justify-content: center; text-align: center">
    <div style="margin-top: 50%">
      <h3>Add PO</h3>
      <h5>(You don't have permission)</h5>
    </div>
  </div>
{% endif %}


</div>
