<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'po_list/css/bootstrap.css' %}">
  <script src="{% static 'po_list/js/jquery-1.11.0.min.js' %}"></script>
  <!-- <script src="//code.jquery.com/jquery-1.11.0.min.js"></script> -->
  <script src="{% static 'po_list/js/bootstrap.js' %}"></script>
  <script src="{% static 'po_list/js/style.js' %}"></script>
  <link rel="stylesheet" href="{% static 'po_list/css/style.css' %}">
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="{% url 'startup' %}" class="btn"><b>HOME</b></a>
  <h4>|</h4>
  <a href=".." class="btn" style="color: red"><b>BACK</b></a>
  <div class="collapse navbar-collapse" style="margin-left: 50px">

    <ul class="navbar-nav mr-auto"></ul>

    {% if user.is_authenticated %}
        <b>Logged in as <u style="color: red">{{ user.username }}</u>|
      {% if user.is_superuser %}
         <a href="/admin">SUPERADMIN</a> | <a href="{% url 'logoutuser' %}">LOGOUT</a>
      {% else %}
         <a href="{% url 'logoutuser' %}">LOGOUT</a>
      {% endif %}
        </b>
    {% else %}
      <b>LOG IN LOGOUT</b>
    {% endif %}
  </div>
</nav>

<div class="container" style="padding-top: 1%; padding-bottom: 1%">
  <h1 style="text-align: center" id="tableplaceholder">PO #: {{ po_dets.po_num }}</h1>
</div>

<div class="" >
  <div class="container">
    <div class="" style="margin: 0 auto; border: solid; border-width: 1px; width: 97%; height: 78%; padding-bottom: 10px; overflow-y: scroll;">
        <div class="container" style="margin-top: 10px;">
          <h1 style="text-align: center; margin-bottom: 20px"></h1>
          <div class="form-row">
            <div class="col-md-10"></div>
            <div class="col-md-2" style="float: right; margin-bottom: 1%;">
              {% if usr.is_admin == 1 %}
                {% if po_dets.is_processed == 0 %}
                  <a style="width: 100%" href="./process" class="btn btn-danger"><b>PROCESS PO</b></a>
                {% else %}
                  <a style="width: 100%" class="btn btn-primary disabled"><b>PO COMPLETE</b></a>
                {% endif %}
              {% endif %}
            </div>
          </div>
          <div class="form-group col-md-12" style="background-color: black">&nbsp</div>
          <div class="form-row">
            <div class="form-group col-md-3">&nbsp</div>
            <div class="form-group col-md-3">
              <b>Department:</b><br>
              <!-- {{ department_name }} -->
              <input type="text" class="form-control" value='{{ department_name }}' readonly>
            </div>
            <div class="form-group col-md-3">
              <b>Charged To:</b><br>
              <input type="text" class="form-control" value='{{ po_dets.charge_to }}' readonly>
            </div>
          </div>
          <div class="form-group col-md-12" style="background-color: black">&nbsp</div>
          <div class="form-row">
            <div class="form-group col-md-5">
              <b>Purchase Order Number</b><br>
              <input type="text" class="form-control" value='{{ po_dets.po_num }}' readonly>
            </div>
            <div class="form-group col-md-7">
              <b>Supplier</b><br>
              <input type="text" class="form-control" value='{{ po_dets.supplier }}' readonly>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <b>Address</b><br>
              <input type="text" class="form-control" value='{{ po_dets.address }}' readonly>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              <b>Date</b><br>
              <input type="text" class="form-control" value='{{ po_dets.date }}' readonly>
            </div>
            <div class="form-group col-md-3">
              <b>Mode of Procurement</b><br>
              <input type="text" class="form-control" value='{{ po_dets.mode }}' readonly>
            </div>
            <div class="form-group col-md-3">
              <b>Purchase Request No.</b><br>
              <input type="text" class="form-control" value='{{ po_dets.pr_num }}' readonly>
            </div>
            <div class="form-group col-md-3">
              <b>Tracking Number</b><br>
              <input type="text" class="form-control" value='{{ po_dets.tracking_num }}' readonly>
            </div>
          </div>
          <div class="form-group col-md-12" style="background-color: black">&nbsp</div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <b>Place of Delivery</b><br>
              <input type="text" class="form-control" value='{{ po_dets.delivery_place }}' readonly>
            </div>
            <div class="form-group col-md-6">
              <b>Delivery Term</b><br>
              <input type="text" class="form-control" value='{{ po_dets.delivery_term }}' readonly>
            </div>
            <div class="form-group col-md-6">
              <b>Date of Delivery</b><br>
              <input type="text" class="form-control" value='{{ po_dets.delivery_date }}' readonly>
            </div>
            <div class="form-group col-md-3">
              <b>Date Received</b><br>
              <input type="text" class="form-control" value='{{ po_dets.date_received }}' readonly>
            </div>
            <div class="form-group col-md-3">
              <b>Payment Term</b><br>
              <input type="text" class="form-control" value='{{ po_dets.payment_term }}' readonly>
            </div>
          </div>
          <div class="form-group col-md-12" style="background-color: black">&nbsp</div>

          <div class="container" style="margin-top: 10px;">
            <div class="form-row">
              <div class="form-group col-md-4">&nbsp</div>
              <div class="form-group col-md-2">
                <b>Total Amount</b><br>
                <input type="text" class="form-control" value='{{ po_dets.total_amount }}' readonly>
              </div>
              <div class="form-group col-md-2">
                <b>Amount Loss</b><br>
                <input type="text" class="form-control" value='{{ po_dets.amount_loss }}' readonly>
              </div>
            </div>
          </div>
          <div class="form-group col-md-12" style="background-color: black">&nbsp</div>
          <div class="">
            <div style="background-color: #ffeef1">
              <div class="col-md-12" style="padding-top: 10px">
                <div class="form-row">
                  <div class="form-group col-md-5">&nbsp</div>
                  <div class="form-group col-md-2">
                    <button class="btn btn-primary" data-toggle="collapse" data-target="#po_items_id" style="width: 100%">Toggle Items</button>
                  </div>
                </div>
              </div>
              <div class="collapse" id="po_items_id" style="width: 98%; margin-left: 1%">
                <div class="row clearfix">
                	<div class="col-md-12 column">
                      <table class="table table-bordered table-hover">
                  			<thead>
                  				<tr >
                  					<th class="text-center" style="width: 5%">
                  						#
                  					</th>
                  					<th class="text-center">
                  						Item
                  					</th>
                  				</tr>
                  			</thead>
                  			<tbody>
                          {% for it in itz %}
                  				<tr id='addr0'>
                  					<td id='showtable'>
                              <b>{{ forloop.counter }}</b>
                  					</td>
                            <td>
                              <div class="form-row">
                                <div class="form-group col-md-1"></div>
                                <div class="form-group col-md-6">
                                  <b>Description</b><br>
                                  <input type="text" class="form-control" value='{{ it.description }}' readonly style="font-weight: bold">
                                </div>
                                <div class="form-group col-md-3">
                                  <b>Brand</b><br>
                                  <input type="text" class="form-control" value='{{ it.brand }}' readonly>
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-1"></div>
                                <div class="form-group col-md-3">
                                  <b>Balance per card</b><br>
                                  <input type="text" class="form-control" value='{{ it.quantity }}' readonly>
                                </div>
                                <div class="form-group col-md-3">
                                  <b>On Hand</b><br>
                                  <input type="text" class="form-control" value='{{ it.onhand_qty }}' readonly>
                                </div>
                                <div class="form-group col-md-3">
                                  <b>Losses</b><br>
                                  <input type="text" class="form-control" value='{{ it.losses }}' readonly>
                                </div>
                              </div>
                              <div class="form-row">
                                <div class="form-group col-md-1"></div>
                                <div class="form-group col-md-2">
                                  <b>Unit</b><br>
                                  <input type="text" class="form-control" value='{{ it.unit }}' readonly>
                                </div>
                                <div class="form-group col-md-2">
                                  <b>Unit Cost</b><br>
                                  <input type="text" class="form-control" value='{{ it.unit_cost }}' readonly>
                                </div>
                                <div class="form-group col-md-2">
                                  <b>Total Cost</b><br>
                                  <input type="text" class="form-control" value='{{ it.total_cost }}' readonly>
                                </div>
                                <div class="form-group col-md-3">
                                  <b>Status</b><br>
                                  {% if it.onhand_qty == 0 %}
                                    <input type="text" class="form-control" value='NOT DELIVERED' readonly style="color: red; font-weight: bold">
                                  {% elif it.quantity > it.onhand_qty %}
                                    <input type="text" class="form-control" value='LACKING' readonly style="color: orange; font-weight: bold">
                                  {% elif it.onhand_qty == it.quantity %}
                                    <input type="text" class="form-control" value='DELIVERED' readonly style="color: green; font-weight: bold">
                                  {% endif %}
                                </div>
                              </div>
                  					</td>
                  				</tr>
                          {% endfor %}
                  			</tbody>
                  		</table>
                	</div>
                </div>
              </div>
            </div>
            <div style="background-color: #d3fcff">
              <div class="col-md-12" style="padding-top: 10px">
                <div class="form-row">
                  <div class="form-group col-md-5">&nbsp</div>
                  <div class="form-group col-md-2">
                    <button class="btn btn-primary" data-toggle="collapse" data-target="#deliveries" style="width: 100%">Toggle Deliveries</button>
                  </div>
                </div>
              </div>
              <div class="collapse" id="deliveries" style="width: 98%; margin-left: 1%; padding-bottom: 10px">
                <div class="panel-group" id="delivery_accordion" style="border-top: 1px solid #513bff; ">
                  {% if po_del|length > 0 %}
                    {% for del in po_del %}
                      <div class="panel panel-default" style="border-bottom: 1px solid #513bff">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#delivery_accordion" href="#collapse-{{ del.id }}">Date: {{ del.date }} - Invoice: #{{ del.invoice }}</a>
                          </h4>
                        </div>
                        <div id="collapse-{{ del.id }}" class="panel-collapse collapse in">
                          <table class="table table-bordered table-hover">
                            <thead>
                              <tr >
                                <th class="text-center" style="width: 70%">
                                  Item
                                </th>
                                <th class="text-center">
                                  Quantity
                                </th>
                                <th class="text-center">
                                  Amount
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for del_it in po_del_it %}
                              <tr id='addr0'>
                                {% if del.id == del_it.delivery_id %}
                                  <td id='showtable' style="text-align: left">
                                    <b>{{ del_it.item_desc }}</b>
                                    ({{ del_it.brand }})<br>
                                    {{ del_it.manufacturer }}
                                  </td>
                                  <td id='showtable'>
                                    <b>{{ del_it.quantity }}</b>
                                  </td>
                                  <td id='showtable' style="text-align: right">
                                    <b>{{ del_it.amount }}</b>
                                  </td>
                                {% endif %}
                              </tr>
                              {% endfor %}
                              <tr>
                                <td id='showtable' style="text-align: right" colspan="2">
                                  <b>TOTAL</b>
                                </td>
                                <td id='showtable' style="text-align: right">
                                  <b>{{ del.current_total_amount }}</b>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    {% endfor %}
                  {% else %}
                  <div class="panel panel-default" style="border-bottom: 1px solid #513bff">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        NO DELIVERIES
                      </h4>
                    </div>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
