<head>
  {% load static %}
  <script src="{% static 'po_list/js/style.js' %}"></script>
  <script src="{% static 'po_list/js/jquery.js' %}"></script>
  <script src="{% static 'po_list/js/bootstrap.js' %}"></script>
  <link rel="stylesheet" href="{% static 'po_list/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'po_list/css/style.css' %}">
</head>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <b>GMCH INVENTORY</b>

  <div class="collapse navbar-collapse" style="margin-left: 50px">
    <div class="dropdown" style="float: right; margin-right: 10px">
      <a class="btn" type="button" href='/po_list'>
        BACK
      </a>
    </div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">


        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Department
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="/po_list/All Purchase Orders">All Purchase Orders</a></li>
            {% for dep in department %}
              <li><a class="dropdown-item" href="/po_list/{{dep.name}}">{{ dep.name }}</a></li>
            {% endfor %}
          </ul>
        </div>


      </li>
    </ul>
    <b>LOGOUT</b>
  </div>
</nav>

<div class="container" style="padding-top: 1%; padding-bottom: 1%">
  <h1 style="text-align: center" id="tableplaceholder">{{ deps }}</h1>
</div>
<div class="table-wrapper-scroll-y my-custom-scrollbar" style="padding: 10px; border-style: solid; border-width: 1px; border-color: gray">

  <div class="form-group" style="width: 20%; float:left">
      <input onkeyup="searchtable()" class="form-control" id="search_item_table" placeholder="Search Table">
  </div>

  <div class="dropdown" style="float: right">
    <a class="btn btn-primary" type="button" href='/po_list/add_po'>
      Add PO
    </a>
  </div>

  <table id="item_table" class="table table-hover table-bordered mb-0" style="text-align: center">
    <thead>
      <tr>
        <th class="th-sm">PO #</th>
        <th scope="col">Date</th>
        <th scope="col">Purchase Request</th>
        <th scope="col">Charge To</th>
        <th scope="col">Supplier</th>
        <th scope="col">Invoice Recieve</th>
        <th scope="col">Total Amount</th>
      </tr>
    </thead>
    <tbody>

      {% for po in pos %}
        <tr>
          <td scope="row"><a href="./{{ po.po_num }}"><b>{{ po.po_num }}</b></a></td>
          <td>{{ po.date }}</td>
          <td>{{ po.purchase_request }}</td>
          <td>{{ po.charge_to }}</td>
          <td>{{ po.supplier }}</td>
          <td>{{ po.invoice_recieve }}</td>
          <td>{{ po.total_amount }}</td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
