<head>
  {% load static %}
  <script src="{% static 'po_list/js/style.js' %}"></script>
  <script src="{% static 'po_list/js/jquery-1.11.0.min.js' %}"></script>
  <script src="{% static 'po_list/js/bootstrap.js' %}"></script>
  <link rel="stylesheet" href="{% static 'po_list/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'po_list/css/style.css' %}">
</head>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="{% url 'startup' %}" class="btn"><b>HOME</b></a>
  <h4>|</h4>
  <a href=".." class="btn" style="color: red"><b>BACK</b></a>
  <div class="collapse navbar-collapse" style="margin-left: 50px">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            FILTER
          </button>
          <div>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="border: 2px solid blue">
              <li style="border-bottom: 1px solid black"><a class="dropdown-item" href='/po_list/All Purchase Orders-All Departments-All Funding'>ALL PURCHASE ORDERS</a></li>
              <li><a class="dropdown-item" href='/po_list/All Purchase Orders-{{ dep }}-{{ fund }}'>All PO</a></li>
              <li><a class="dropdown-item" href='/po_list/Completed Orders-{{ dep }}-{{ fund }}'>Completed Orders</a></li>
              <li style="border-bottom: 1px solid black"><a class="dropdown-item" href='/po_list/Incomplete Orders-{{ dep }}-{{ fund }}'>Incomplete Orders</a></li>
              <li><a class="dropdown-item" href="/po_list/{{ pro }}-All Departments-{{ fund }}">All Departments</a></li>
              {% for dep in departments %}
                <li><a class="dropdown-item" href="/po_list/{{ pro }}-{{ dep.name }}-{{ fund }}">{{ dep.name }}</a></li>
              {% endfor %}
              <li style="border-top: 1px solid black"><a class="dropdown-item" href="/po_list/{{ pro }}-{{ dep }}-All Funding">All Funding</a></li>
              <li><a class="dropdown-item" href="/po_list/{{ pro }}-{{ dep }}-General Fund">General Fund</a></li>
              <li><a class="dropdown-item" href="/po_list/{{ pro }}-{{ dep }}-Trust Fund">Trust Fund</a></li>
            </ul>
          </div>
        </div>
      </li>
    </ul>

    {% if user.is_authenticated %}
      {% if user.is_superuser %}
        <b>Logged in as {{ user.username }} | <a href="/admin">SUPERADMIN</a> | <a href="{% url 'logoutuser' %}">LOGOUT</a></b>
      {% else %}
        <b>Logged in as {{ user.username }} | <a href="{% url 'logoutuser' %}">LOGOUT</a></b>
      {% endif %}
    {% else %}
      <b>LOG IN LOGOUT</b>
    {% endif %}
  </div>
</nav>

<div class="container" style="padding-top: 1%; padding-bottom: 1%;">
  <h3 style="text-align: center" id="tableplaceholder">
    <u style="color: #019519">{{ pro }}</u>
    from
    <u style="color: #019519">{{ dep }}</u>
    in
    <u style="color: #019519">{{ fund }}</u>
  </h3>
</div>
<div class="table-wrapper-scroll-y my-custom-scrollbar" style="padding: 10px; border-style: solid; border-width: 1px; border-color: gray">

  <div class="form-group" style="width: 20%; float:left">
      <input onkeyup="searchtable()" class="form-control" id="search_item_table" placeholder="Search Table">
  </div>

  {% if usr.is_admin == 1 %}
  <div class="dropdown" style="float: right">
    <a class="btn btn-primary" type="button" href='/po_list/add_po'>
      Add PO
    </a>
  </div>
  {% endif %}

  <table id="item_table" class="table table-hover table-bordered mb-0" style="text-align: center">
    <thead>
      <tr>
        <th class="th-sm">PO #</th>
        <th scope="col">Charge To</th>
        <th scope="col">Supplier</th>
        <th scope="col">Date</th>
        <th scope="col">Purchase Request No.</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>

      {% for po in pos %}
        <tr>
          <td scope="row"><a href="./{{ po.po_num }}"><b>{{ po.po_num }}</b></a></td>
          <td>{{ po.charge_to }}</td>
          <td>{{ po.supplier }}</td>
          <td>{{ po.date }}</td>
          <td>{{ po.pr_num }}</td>
          {% if po.is_processed == 1 %}
            <td style="color: green"><b>Complete</b></td>
          {% else %}
            <td style="color: red"><b>Incomplete</b></td>
          {% endif %}
        </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
