<head>
  {% load static %}
  <script src="{% static 'po_list/js/style.js' %}"></script>
  <script src="{% static 'po_list/js/jquery-1.11.0.min.js' %}"></script>
  <script src="{% static 'po_list/js/bootstrap.js' %}"></script>
  <link rel="stylesheet" href="{% static 'po_list/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'po_list/css/style.css' %}">
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="{% url 'startup' %}" class="btn"><b>HOME</b></a>
  <h4>|</h4>
  <a href="." class="btn" style="color: red"><b>BACK</b></a>
  <div class="collapse navbar-collapse" style="margin-left: 50px">

    <ul class="navbar-nav mr-auto"></ul>

    {% if user.is_authenticated %}
      {% if user.is_superuser %}
        <b>Logged in as {{ user.username }} | <a href="/admin">SUPERADMIN</a> | <a href="{% url 'logoutuser' %}">LOGOUT</a></b>
      {% else %}
        <b>Logged in as {{ user.username }} | <a href="{% url 'logoutuser' %}">LOGOUT</a></b>
      {% endif %}
    {% else %}
      <b>LOG IN LOGOUT</b>
    {% endif %}
  </div>
</nav>

<div class="" style="margin-top: 10px;">
  <div class="" style="margin: 0 auto; border: solid; border-width: 1px; width: 97%; height: 79%; padding-bottom: 10px; overflow-y: scroll;">
      <div class="container" style="margin-top: 10px;">
        <h1 style="text-align: center; margin-bottom: 20px">PROCESS PO: [{{ po_number }}]</h1>
        <div class="form-group col-md-12" style="background-color: black">&nbsp</div>
        <div class="form-row">
          <div class="form-group col-md-3">&nbsp</div>
          <div class="form-group col-md-3">
            <b>Department:</b><br>
            <input type="text" class="form-control" value='{{ department }}' readonly>
          </div>
          <div class="form-group col-md-3">
            <b>Charged To:</b><br>
            <input type="text" class="form-control" value='{{ po_dets.charge_to }}' readonly>
          </div>
        </div>
        <div class="form-group col-md-12" style="background-color: black">&nbsp</div>
        <div class="form-row">
          <div class="form-group col-md-2">&nbsp</div>
          <div class="form-group col-md-4">
            <b>Purchase Order Number</b><br>
            <input type="text" class="form-control" value='{{ po_dets.po_num }}' readonly>
          </div>
          <div class="form-group col-md-4">
            <b>Supplier</b><br>
            <input type="text" class="form-control" value='{{ po_dets.supplier }}' readonly>
          </div>
          <div class="form-group col-md-2">&nbsp</div>
          <div class="form-group col-md-2">&nbsp</div>
          <div class="form-group col-md-8">
            <b>Address</b><br>
            <input type="text" class="form-control" value='{{ po_dets.address }}' readonly>
          </div>
          <div class="form-group col-md-1">&nbsp</div>
          <div class="form-group col-md-2">&nbsp</div>
          <div class="form-group col-md-2">
            <b>Date</b><br>
            <input type="text" class="form-control" value='{{ po_dets.date }}' readonly>
          </div>
          <div class="form-group col-md-2">
            <b>Mode of Procurement</b><br>
            <input type="text" class="form-control" value='{{ po_dets.mode }}' readonly>
          </div>
          <div class="form-group col-md-2">
            <b>Purchase Request No.</b><br>
            <input type="text" class="form-control" value='{{ po_dets.pr_num }}' readonly>
          </div>
          <div class="form-group col-md-2">
            <b>Tracking Number</b><br>
            <input type="text" class="form-control" value='{{ po_dets.tracking_num }}' readonly>
          </div>
        </div>
        <div class="form-group col-md-12" style="background-color: black">&nbsp</div>
        <div class="form-row">
          <div class="form-group col-md-1">&nbsp</div>
          <div class="form-group col-md-5">
            <b>Place of Delivery</b><br>
            <input type="text" class="form-control" value='{{ po_dets.delivery_place }}' readonly>
          </div>
          <div class="form-group col-md-5">
            <b>Delivery Term</b><br>
            <input type="text" class="form-control" value='{{ po_dets.delivery_term }}' readonly>
          </div>
          <div class="form-group col-md-1">&nbsp</div>
          <div class="form-group col-md-1">&nbsp</div>
          <div class="form-group col-md-5">
            <b>Date of Delivery</b><br>
            <input type="text" class="form-control" value='{{ po_dets.delivery_date }}' readonly>
          </div>

          <div class="form-group col-md-2">
            <b>Date Received</b><br>
            {% if po_dets.date_received == '' %}
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#date_received_window" style="width: 100%">ENTER DATE</button>
              <div class="modal fade" id="date_received_window" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <div class="col-md-12" style="text-align: center;">
                        <h4 class="modal-title" id="exampleModalLabel"><b>Date Received</b></h4>
                      </div>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body" style="text-align: center">
                      <b>Please enter the date recieved by the supplier.<br>
                        <div class="form-row" style="margin-top: 10px">
                          <div class="col-md-3"></div>
                          <div class="col-md-6">
                            <form action="./received_date" method="post" autocomplete="off" id="received_date_form">
                              {% csrf_token %}
                              <input type="date" class="form-control" name="date_received">
                            </form>
                          </div>
                        </div>
                        Note that this cannot be undone. <br>Please double check your entry. <br>Continue?</b>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary" form="received_date_form">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            {% else %}
              <input type="text" class="form-control" value='{{ po_dets.date_received }}' readonly>
            {% endif %}
          </div>
          <div class="form-group col-md-3">
            <b>Payment Term</b><br>
            <input type="text" class="form-control" value='{{ po_dets.payment_term }}' readonly>
          </div>

        </div>
        <div class="form-group col-md-12" style="background-color: black">&nbsp</div>
      </div>

      <div class="container" style="margin-top: 10px;">
        <div class="form-row">
          <div class="form-group col-md-4">&nbsp</div>
          <div class="form-group col-md-2">
            <b>Total Amount</b><br>
            <input type="text" class="form-control" value='{{ po_dets.total_amount }}' readonly>
          </div>
          <div class="form-group col-md-2">
            <b>Amount Loss</b><br>
            <input type="text" class="form-control" value='{{ po_dets.amount_loss }}' readonly>
          </div>
        </div>
        <div class="form-group col-md-12" style="background-color: black">&nbsp</div>
      </div>

      <div class="container">
        <div class="container" style="background-color: #d7f3ff; padding: 10px">
          <div class="col-md-12" style="margin-bottom: 10px">
            <div class="form-row">
              <div class="col-md-5">&nbsp</div>
              <div class="col-md-2">
                <a class="btn btn-primary" href="#process_po_id" data-toggle="collapse" style="width: 100%">Toggle Items</a>
              </div>
            </div>
          </div>
          <div id="process_po_id" class="collapse" style="margin: 0 auto; text-align: center; width: 97%;">
            <div class="row clearfix">
              <div class="col-md-12 column">
                <table class="table table-bordered table-hover" >
                  <thead>
                    <tr >
                      <th class="text-center" style="width: 5%; border: 2px solid blue">
                        #
                      </th>
                      <th class="text-center" style="border: 2px solid blue">
                        Item
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for it in itz %}
                      <tr id='addr0'>
                        <td id='showtable' style="border: 2px solid blue">
                          <b>{{ forloop.counter }}</b>
                        </td>
                        <td style="border: 2px solid blue">
                          <div class="form-row">
                            <div class="form-group col-md-1"></div>
                            <div class="form-group col-md-6">
                              <b>Description</b><br>
                              <input type="text" class="form-control" value='{{ it.description }}' readonly style="font-weight: bold">
                            </div>
                            <div class="form-group col-md-3">
                              <b>Brand</b><br>
                              <input type="text" class="form-control" value='{{ it.brand }}' readonly>
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-1"></div>
                            <div class="form-group col-md-3">
                              <b>Balance per card</b><br>
                              <input type="text" class="form-control" value='{{ it.quantity }}' readonly>
                            </div>
                            <div class="form-group col-md-3">
                              <b>On Hand</b><br>
                              <input type="text" class="form-control" value='{{ it.onhand_qty }}' readonly>
                            </div>
                            <div class="form-group col-md-3">
                              <b>Losses</b><br>
                              <input type="text" class="form-control" value='{{ it.losses }}' readonly>
                            </div>
                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-1"></div>
                            <div class="form-group col-md-2">
                              <b>Unit</b><br>
                              <input type="text" class="form-control" value='{{ it.unit }}' readonly>
                            </div>
                            <div class="form-group col-md-2">
                              <b>Unit Cost</b><br>
                              <input type="text" class="form-control" value='{{ it.unit_cost }}' readonly>
                            </div>
                            <div class="form-group col-md-2">
                              <b>Total Cost</b><br>
                              <input type="text" class="form-control" value='{{ it.total_cost }}' readonly>
                            </div>
                            <div class="form-group col-md-3">
                              <b>Status</b><br>
                              {% if it.onhand_qty == 0 %}
                                <input type="text" class="form-control" value='NOT DELIVERED' readonly style="color: red; font-weight: bold">
                              {% elif it.quantity > it.onhand_qty %}
                                <input type="text" class="form-control" value='LACKING' readonly style="color: orange; font-weight: bold">
                              {% elif it.quantity == it.onhand_qty %}
                                <input type="text" class="form-control" value='DELIVERED' readonly style="color: green; font-weight: bold">
                              {% endif %}
                            </div>
                          </div>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="container" style="background-color: #d3fcff">
          <div class="col-md-12" style="padding-top: 10px">
            <div class="form-row">
              <div class="form-group col-md-5">&nbsp</div>
              <div class="form-group col-md-2">
                <button class="btn btn-primary" data-toggle="collapse" data-target="#deliveries" style="width: 100%">Toggle Deliveries</button>
              </div>
            </div>
          </div>
          <div class="collapse" id="deliveries" style="width: 98%; margin-left: 1%; padding-bottom: 10px">
            <div class="panel-group" id="delivery_accordion" style="border-top: 1px solid #513bff; ">
              {% if po_del|length > 0 %}
                {% for del in po_del %}
                  <div class="panel panel-default" style="border-bottom: 1px solid #513bff">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#delivery_accordion" href="#collapse-{{ del.id }}">Date: {{ del.date }} - Invoice: #{{ del.invoice }}</a>
                      </h4>
                    </div>
                    <div id="collapse-{{ del.id }}" class="panel-collapse collapse in">
                      <table class="table table-bordered table-striped table-hover">
                        <thead>
                          <tr >
                            <th class="text-center" style="width: 70%">
                              Item
                            </th>
                            <th class="text-center">
                              Quantity
                            </th>
                            <th class="text-center">
                              Amount
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for del_it in po_del_it %}
                          <tr id='addr0'>
                            {% if del.id == del_it.delivery_id %}
                              <td id='showtable' style="text-align: left">
                                <b>{{ del_it.item_desc }}</b>
                                ({{ del_it.brand }})<br>
                                {{ del_it.manufacturer }}
                              </td>
                              <td id='showtable'>
                                <b>{{ del_it.quantity }}</b>
                              </td>
                              <td id='showtable'>
                                <b>{{ del_it.amount }}</b>
                              </td>
                            {% endif %}
                          </tr>
                          {% endfor %}
                          <tr>
                            <td id='showtable' style="text-align: right" colspan="2">
                              <b>TOTAL</b>
                            </td>
                            <td id='showtable' style="text-align: right">
                              <b>{{ del.current_total_amount }}</b>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                {% endfor %}
              {% else %}
                <div class="panel panel-default" style="border-bottom: 1px solid #513bff">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      NO DELIVERIES
                    </h4>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="container" style="padding: 10px; background-color: #fffb93">
          <div class="col-md-12" style="margin-bottom: 10px">
            <div class="form-row">
              <div class="col-md-5">&nbsp</div>
              <div class="col-md-2">
                <a class="btn btn-warning" id="adddelivery_toggle" href="#delivery" data-toggle="collapse" style="width: 100%">Add Delivery</a>
              </div>
            </div>
          </div>
          <div id="delivery" class="collapse" style="margin: 0 auto; text-align: center; width: 97%;">
            <div class="row clearfix">
              <div class="col-md-12 column">
                <div class="container" style="text-align: left;">
                  <div class="form-row">
                    <div class="form-group col-md-1"></div>
                    <div class="form-group col-md-7">
                      <b>Product</b><br>
                      <input type="hidden" class="form-control" name="it{{ forloop.counter }}-0" value='{{ it.id }}'>
                      <select class="form-control" id="adddelivery_description" style="font-weight: bold">
                        {% for i in itz %}
                          <option value="{{ i.description }}-{{ i.id }}-{{ i.unit_cost }}" style="font-weight: bold">{{ i.description }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-group col-md-3">
                      <b>Quantity</b><br>
                      <input type="text" class="form-control" id="adddelivery_quantity">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-1"></div>
                    <div class="form-group col-md-10">
                      <b>Manufacturer</b><br>
                      <input type="text" class="form-control" id="adddelivery_manufacturer"'>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-1"></div>
                    <div class="form-group col-md-4">
                      <b>Brand</b><br>
                      <input type="text" class="form-control" id="adddelivery_brand"'>
                    </div>
                    <div class="form-group col-md-3">
                      <b>Lot Number</b><br>
                      <input type="text" class="form-control" id="adddelivery_lotno"'>
                    </div>
                    <div class="form-group col-md-3">
                      <b>Expiration Date</b><br>
                      <input type="date" class="form-control" id="adddelivery_expiration"'>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-1"></div>
                    <div class="form-group col-md-10">
                      <b>Remarks</b><br>
                      <input type="text" class="form-control" id="adddelivery_remarks"'>
                    </div>
                  </div>
                </div>
                <a class="btn btn-secondary pull-left" onclick="validate_delivery('item-delivery')" style="margin-bottom: 50px; width:130px">Add Item</a>
              </div>
            </div>
            <div class="container" style="margin-top: 10px; border: 1px solid gray; padding: 10px">
              <form action="./processing_po" method="post" autocomplete="off" id="process_po_form">
                {% csrf_token %}
                <div style="text-align: left">
                  <div class="form-row">
                    <div class="col-md-3"></div>
                    <div class="col-md-3 has-error has-feedback" id="delivery_date_div">
                      <b id="delivery_date_label">Delivery Date</b><br>
                      <input type="date" class="form-control" name="delivery_date" id="delivery_date">
                    </div>
                    <div class="col-md-3">
                      <b>Invoice</b><br>
                      <input type="text" class="form-control" name="delivery_invoice" id="delivery_invoice" placeholder="#">
                      <input type="hidden" name="po_number_del" value="{{ po_number }}"
                    </div>
                  </div>
                </div>
                <div class="">
                  &nbsp
                </div>
                <div style="background-color: #fff957">
                  <table class="table table-bordered table-hover" syle="margin-top: 10px">
                    <thead>
                      <tr >
                        <th class="text-center" style="width: 5%">
                          #
                        </th>
                        <th class="text-center">
                          Item
                        </th>
                      </tr>
                    </thead>
                    <tbody id="delivery_table">
                    </tbody>
                  </table>
                </div>
                <div class="form-row">
                  <div class="col-md-5">&nbsp</div>
                  <div class="col-md-2" style="margin-top: 20px">
                    <a class="pull-right btn btn-danger" onclick="deleteitem_process()" style="width:100%; color: white">Delete Item</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="" style="margin: 0 auto; padding-top: 10px; text-align: center">
            <button type="button" class="btn btn-primary" onclick="validate_delivery('date-invoice')">SUBMIT</button>
          </div>
        </div>
      </div>
      </div>



    <div class="modal fade" id="proceed_delivery" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="col-md-12" style="text-align: center; color: green">
              <h4 class="modal-title" id="exampleModalLabel"><b>WARNING!</b></h4>
            </div>
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button> -->
          </div>
          <div class="modal-body" style="text-align: center">
            <b>This process cannot be undone. <br>Please double check your entry. <br>Continue?</b>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success" form="process_po_form">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="error_delivery" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="col-md-12" style="text-align: center; color: red">
              <h4 class="modal-title" id="exampleModalLabel"><b>ERROR!</b></h4>
            </div>
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button> -->
          </div>
          <div class="modal-body" style="text-align: center">
            <p id="error_delivery_label"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

</div>
