<head>
  {% load static %}
  <link rel="stylesheet" href="{% static 'pr_list/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'pr_list/css/style.css' %}">
  <script src="{% static 'pr_list/js/style.js' %}"></script>
</head>



<div class="" style="text-align: center; padding-top: 1%; padding-bottom: 1%">
  <h1>Available Supplies</h1>
</div>

<div class="container table-wrapper-scroll-y my-custom-scrollbar" style="padding: 10px; border-style: solid; border-width: 1px; border-color: gray">

  <div class="form-group" style="width: 20%">
      <input onkeyup="searchtable()" class="form-control" id="search_item_table" placeholder="Search Table">
  </div>

  <table id="item_table" class="table table-hover table-bordered mb-0" style="text-align: center">
    <thead>
      <tr>
        <th class="th-sm">PO #</th>
        <th scope="col">Date</th>
        <th scope="col">Purchase Request</th>
        <th scope="col">Charge To</th>
        <th scope="col">Supplier</th>
        <th scope="col">Invoice Recieve</th>
        <th scope="col">Total Amount</th>
      </tr>
    </thead>
    <tbody>

      {% for pr in prs %}

      <tr>
        <td scope="row">{{ pr.po_num }}</td>
        <td>{{ pr.date }}</td>
        <td>{{ pr.purchase_request }}</td>
        <td>{{ pr.charge_to }}</td>
        <td>{{ pr.supplier }}</td>
        <td>{{ pr.invoice_recieve }}</td>
      </tr>

      {% endfor %}

    </tbody>
  </table>
</div>
