<head>
  {% load static %}
  <script src="{% static 'po_list/js/style.js' %}"></script>
  <script src="{% static 'po_list/js/jquery.js' %}"></script>
  <script src="{% static 'po_list/js/bootstrap.js' %}"></script>
  <link rel="stylesheet" href="{% static 'po_list/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'po_list/css/style.css' %}">
</head>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="../.." class="btn"><b>HOME</b></a>
  <h4>|</h4>
  <a href=".." class="btn"><b>BACK</b></a>
  <div class="collapse navbar-collapse" style="margin-left: 50px">

    <ul class="navbar-nav mr-auto"></ul>

    {% if user.is_authenticated %}
      {% if user.is_superuser %}
        <b>Logged in as {{ user.username }} | <a href="/admin">SUPERADMIN</a> | <a href="{% url 'logoutuser' %}">LOGOUT</a></b>
      {% else %}
        <b>Logged in as {{ user.username }} | <a href="{% url 'logoutuser' %}">LOGOUT</a></b>
      {% endif %}
    {% else %}
      <b>LOG IN LOGOUT</b>
    {% endif %}
  </div>
</nav>

<div class="" style="padding-top: 1%; padding-bottom: 1%">
  <h1 style="text-align: center" id="tableplaceholder">AVAILABLE ITEMS</h1>
</div>
<div class=" table-wrapper-scroll-y my-custom-scrollbar" style="padding: 10px; border-style: solid; border-width: 1px; border-color: gray; overflow-x: auto">

  <div class="form-group" style="width: 20%">
      <input onkeyup="searchtable()" class="form-control" id="search_item_table" placeholder="Search Table">
  </div>

  <table id="item_table" class="table table-hover table-bordered mb-0" style="text-align: center; table-layout: fixed">
    <thead>
      <tr>
        <th class="th-sm" style="width: 300px">Product</th>
        <th class="th-sm" style="width: 120px">Unit</th>
        <th class="th-sm" style="width: 500px">Manufacturer</th>
        <th class="th-sm" style="width: 150px">Lot No.</th>
        <th class="th-sm" style="width: 100px">Expiration</th>
        <th class="th-sm" style="width: 100px">Quantity</th>
        <th class="th-sm" style="width: 100px">On Hand</th>
        <th class="th-sm" style="width: 100px">Losses</th>
        <th class="th-sm" style="width: 150px">Brand</th>
        <th class="th-sm" style="width: 100px">Unit Cost</th>
        <th class="th-sm" style="width: 150px">Total Amount</th>
        <th class="th-sm" style="width: 500px">Remarks</th>
      </tr>
    </thead>
    <tbody>
      {% for it in items %}
        <tr>
          <td id="showtable2" style="text-align: left"><b>{{ it.description }}</b></td>
          <td id="showtable2">{{ it.unit }}</td>
          <td id="showtable2">{{ it.manufacturer }}</td>
          <td id="showtable2">{{ it.batch_lot_num }}</td>
          <td id="showtable2">{{ it.expiration_date }}</td>
          <td id="showtable2">{{ it.quantity }}</td>
          <td id="showtable2">{{ it.onhand_qty }}</td>
          <td id="showtable2">{{ it.losses }}</td>
          <td id="showtable2">{{ it.brand }}</td>
          <td id="showtable2">{{ it.unit_cost }}</td>
          <td id="showtable2">{{ it.total_amount }}</td>
          <td id="showtable2">{{ it.remarks }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
